<template>
  <div>Edit Content</div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Edit",
  setup() {
    const store = useStore();

    return {
      store,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>