<template>
  <div>
    <p>
      Because WaMa is a static site (there is no server running things - everything
      happens in your browser), all presets are flushed, when closing the site.
      To save your created or imported presets, you can do one of two things:
    </p>

    <div class="grid2">
      <div>
        <h2>Download as JSON file</h2>
        <p>
          This provides you a file download, you can store and later upload
          again
        </p>
        <button @click="onDownload()">Download current Presets</button>
      </div>
      <div>
        <h2>Save to your browsers cookies</h2>
        <h3>(Not implemented yet)</h3>
        <p>
          This will save the data to your disk and is managed by your browser.
          It will be loaded automatically, when you visit WaMa the next time, if
          the cookie still exists.
        </p>
        <button>Save to Cookie</button>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Export",
  setup() {
    const store = useStore();

    function download(content, fileName, contentType) {
      const a = document.createElement("a");
      const file = new Blob([content], { type: contentType });
      a.href = URL.createObjectURL(file);
      a.download = fileName;
      a.click();
    }

    function onDownload() {
      let jsonData = store.getters["Presets/get_preset_json"];
      download(jsonData, "presets.json", "text/plain");
    }

    return {
      store,
      onDownload,
    };
  },
};
</script>

<style lang="scss" scoped>
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
</style>