<template>
  <div>
    <p>
      Because WaMa is a static site (there is no database - everything is stored
      in your browser), you need to add data by yourself. You have two options
      to do that.
    </p>
    <div class="grid2">
      <div>
        <h2>Import previously exported Data</h2>
        <p>
          This lets you import a JSON file, you have previously exportet from
          WaMa.
        </p>
        <button class="btn btn-info" @click="onPickFile('fileInput_database')">
          Upload Database
        </button>
        <input
          type="file"
          style="display: none"
          :id="`fileInput_database`"
          accept=".json"
          @change="onJSONFilePicked($event.target.files)"
        />
      </div>
      <div>
        <h2>Upload External Database</h2>
        <p>
          There are rumors, that some people hold databases of WH40k datasheets
          and provide exports of that.
        </p>
        <button @click="show_dialog()">Get external help!</button>
      </div>
    </div>
    <Dialog :display="store.state.App.dialog.visibility">
      <div class="wahapedia_banner">
        <img src="@/assets/images/wahapedia_title.png" alt="Wahapedia" />
        <a href="https://wahapedia.ru/">powered by Wahapedia</a>
      </div>
      <div class="upload_grid">
        <div
          class="file-grid"
          v-for="(link, name) in store.state.DataImport.wahapedia.source"
          :key="name"
        >
          <button class="btn btn-info" @click="onPickFile(`fileInput_${name}`)">
            Upload {{ name }}
          </button>
          <input
            type="file"
            style="display: none"
            :id="`fileInput_${name}`"
            accept=".csv"
            @change="onCSVFilePicked(name, $event.target.files)"
          /><br />
          <Tooltip
            :enable_tooltip="true"
            v-if="store.state.DataImport.wahapedia.uploaded[name] == true"
          >
            <template v-slot:text>
              <font-awesome-icon
                :icon="['fas', 'check-circle']"
                :style="{ color: 'green' }"
                size="2x"
              />
            </template>
            <template v-slot:tooltip> The Upload was successfull! </template>
          </Tooltip>
          <Tooltip
            :enable_tooltip="true"
            v-if="store.state.DataImport.wahapedia.uploaded[name] == 'error'"
          >
            <template v-slot:text>
              <font-awesome-icon
                :icon="['fas', 'exclamation-triangle']"
                :style="{ color: 'yellow' }"
                size="2x"
              />
            </template>
            <template v-slot:tooltip>
              An error occured while parsing. Please check your file and upload
              it again.
            </template>
          </Tooltip>
          <Tooltip
            :enable_tooltip="true"
            v-if="store.state.DataImport.wahapedia.uploaded[name] == false"
          >
            <template v-slot:text>
              <a :href="link">
                <font-awesome-icon
                  :icon="['fas', 'times-circle']"
                  :style="{ color: 'red' }"
                  size="2x"
              /></a>
            </template>
            <template v-slot:tooltip> Nothing was uploaded so far! </template>
          </Tooltip>
        </div>
      </div>
      <button
        v-if="store.state.DataImport.wahapedia.all_upload_complete == true"
        @click="generate_presets()"
      >
        Generate Presets
      </button>
    </Dialog>
  </div>
</template>

<script>
import { useStore } from "vuex";
import Dialog from "@/components/App/Dialog";
import Tooltip from "@/components/App/Tooltip";

export default {
  name: "Import",
  components: { Dialog, Tooltip },
  setup() {
    const store = useStore();

    function onPickFile(id) {
      let input = document.getElementById(id);
      input.click();
    }
    function onCSVFilePicked(table, files) {
      const papa = require("papaparse");

      papa.parse(files[0], {
        dynamicTyping: true,
        complete: function (results) {
          handle_parsed_csv(results, table);
        },
      });
    }
    function onJSONFilePicked(files) {
      var reader = new FileReader();
      reader.onload = function (event) {
        handle_parsed_json(event.target.result);
      };
      reader.readAsText(files[0]);
    }
    function handle_parsed_json(json_str) {
      let database = JSON.parse(json_str);
      store.dispatch("Presets/load_database_export", database);
    }
    function handle_parsed_csv(results, table) {
      if (results.meta.aborted || results.errors.length > 0) {
        store.dispatch("DataImport/set_wahapedia_upload_state", {
          table,
          upload_state: "error",
        });
        console.log(`"parsing aborted: ${results.meta.aborted}"`);
        console.log(results.errors);
        return;
      }

      store.dispatch("DataImport/set_wahapedia_upload_state", {
        table,
        upload_state: true,
      });
      store.dispatch("DataImport/set_wahapedia_raw_data", {
        table,
        data: results.data,
      });
    }
    function show_dialog() {
      store.dispatch("App/show_dialog");
    }
    function generate_presets() {
      store.dispatch("Presets/parse_raw_data");
    }

    return {
      store,
      show_dialog,
      onPickFile,
      onCSVFilePicked,
      onJSONFilePicked,
      generate_presets,
    };
  },
};
</script>

<style lang="scss" scoped>
.upload_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  align-content: stretch;
  justify-content: stretch;
  margin: 3%;

  .file-grid {
    display: grid;
    align-content: stretch;
    justify-content: stretch;
  }
}
.wahapedia_banner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > img {
    justify-self: end;
    width: 10%;
  }

  & > a {
    text-align: start;
    align-self: center;
  }
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
</style>