<template>
  <div>
    <p>
      To use the WaMa, no data is needed in the first place. You can change all
      the stats and add or remove weapons at your will in the calculator.
      Nevertheless it is possible to create, import and export data.
    </p>
    <p>
      The <strong>Edit</strong> feature allows you, to create presets on your
      own or change imported data.
    </p>
    <p>
      The <strong>Import</strong> feature allows you, load data from your local
      computer, to reuse already created presets.
    </p>
    <p>
      The <strong>Export</strong> feature allows you, save the currently created
      presets to your local disk.
    </p>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Information",
  setup() {
    const store = useStore();

    return {
      store,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>