<template>
  <div
    class="stat_setter"
    v-if="Object.keys(store.state.Calculator.attacker.models).length > 0"
  >
    <h3>Change Loadout</h3>
    <div class="model_list_wrapper">
      <div
        class="model_entry"
        v-for="(model, index) in get_flattened_model_list()"
        :key="index"
      >
        <div class="model_name">
          <strong>{{ model.model_show_name }}</strong>
        </div>
        <div class="model_stats">
          <div class="model_stat">M: {{ model.movement }}</div>
          <div class="model_stat">WS: {{ model.weapon_skill }}</div>
          <div class="model_stat">BS: {{ model.balistic_skill }}</div>
          <div class="model_stat">S: {{ model.strength }}</div>
          <div class="model_stat">A: {{ model.attacks }}</div>
        </div>
        <div class="weapon_list">
          <div class="weapon_entry_header">
            <div>#</div>
            <div>Name / Profile</div>
            <div>Range</div>
            <div>Type</div>
            <div>A</div>
            <div>S</div>
            <div>AP</div>
            <div>D</div>
          </div>
          <div
            class="weapon_entry"
            v-for="(weapon, weapon_id) in get_weapon_list(model.model_id)"
            :key="weapon_id"
          >
            <div
              class="multiple_profiles"
              v-if="Object.keys(weapon.profiles).length > 1"
            >
              <input
                @change="
                  set_weapon_count(
                    model.model_id,
                    model.bracket,
                    model.id,
                    weapon_id,
                    $event.target.value
                  )
                "
                type="number"
                min="0"
                max="99"
                value="0"
              />
              <div class="weapon_name">{{ weapon.name }}</div>
              <div
                class="weapon_profile_list"
                v-if="Object.keys(weapon.profiles).length > 1"
              >
                <div
                  class="weapon_profile_entry"
                  v-for="(profile, name) in weapon.profiles"
                  :key="name"
                >
                  <input
                    @change="
                      set_weapon_profile(
                        model.model_id,
                        model.bracket,
                        model.id,
                        weapon_id,
                        name,
                        $event.target.value
                      )
                    "
                    type="checkbox"
                  />
                  <div class="profile_name">
                    {{ name }}
                  </div>
                  <div>{{ profile.range }}</div>
                  <div>{{ profile.type }}</div>
                  <div>{{ profile.attacks }}</div>
                  <div>{{ profile.strength }}</div>
                  <div>{{ profile.armor_penetration }}</div>
                  <div>{{ profile.damage }}</div>
                </div>
              </div>
            </div>
            <div
              class="single_profile"
              v-if="Object.keys(weapon.profiles).length == 1"
            >
              <input
                @change="
                  set_weapon_count(
                    model.model_id,
                    model.bracket,
                    model.id,
                    weapon_id,
                    $event.target.value
                  ),
                    set_weapon_profile(
                      model.model_id,
                      model.bracket,
                      model.id,
                      weapon_id,
                      Object.keys(weapon.profiles)[0],
                      true
                    )
                "
                type="number"
                min="0"
                max="99"
                value="0"
              />
              <div class="weapon_name">{{ weapon.name }}</div>
              <div>
                {{ weapon.profiles[Object.keys(weapon.profiles)[0]].range }}
              </div>
              <div>
                {{ weapon.profiles[Object.keys(weapon.profiles)[0]].type }}
              </div>
              <div>
                {{ weapon.profiles[Object.keys(weapon.profiles)[0]].attacks }}
              </div>
              <div>
                {{ weapon.profiles[Object.keys(weapon.profiles)[0]].strength }}
              </div>
              <div>
                {{
                  weapon.profiles[Object.keys(weapon.profiles)[0]]
                    .armor_penetration
                }}
              </div>
              <div>
                {{ weapon.profiles[Object.keys(weapon.profiles)[0]].damage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "AttackerLoadout",
  setup() {
    const store = useStore();

    function get_flattened_model_list() {
      let model_list = [];
      let models = store.state.Calculator.attacker.models;

      for (const model_id in models) {
        for (const bracket in models[model_id]) {
          for (const id in models[model_id][bracket]) {
            let model = models[model_id][bracket][id];
            model[
              "model_show_name"
            ] = `${model_id} (${model.remaining_wounds} Wounds)`;
            model["model_id"] = model_id;
            model["bracket"] = bracket;
            model["id"] = id;
            model_list.push(model);
          }
        }
      }
      return model_list;
    }
    function get_weapon_list(model_id) {
      let wargear = store.getters["Presets/get_wargear_by_model"](
        store.state.Calculator.attacker.faction,
        store.state.Calculator.attacker.datasheet,
        model_id
      );
      return wargear;
    }
    function set_weapon_count(model_id, bracket, id, wargear_id, count) {
      let data = { model_id, bracket, id, wargear_id, count };
      store.dispatch("Calculator/set_attacker_weapon_count", data);
    }
    function set_weapon_profile(
      model_id,
      bracket,
      id,
      wargear_id,
      profile,
      value
    ) {
      let data = { model_id, bracket, id, wargear_id, profile, value };
      store.dispatch("Calculator/set_attacker_weapon_profile", data);
    }

    return {
      store,
      get_flattened_model_list,
      get_weapon_list,
      set_weapon_count,
      set_weapon_profile,
    };
  },
};
</script>

<style lang="scss" scoped>
.model_entry {
  margin-top: 2%;

  .model_name {
    text-align: left;
  }
  .model_stats {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(10, minmax(20px, 1fr));

    .model_stat {
      text-align: left;
    }
  }
  .weapon_list {
    margin-top: 1%;

    .weapon_entry_header {
      display: grid;
      grid-template-columns: 40px 3fr repeat(6, 1fr);
      border-bottom: solid;
    }
    .weapon_entry {
      border-bottom: dotted;
      display: grid;
      grid-template-columns: 40px 3fr repeat(6, 1fr);

      .multiple_profiles {
        grid-column: 1 / span 8;
        display: inherit;
        grid-template-columns: inherit;
        .weapon_name {
          grid-column: 2 / span 7;
          margin-left: 3%;
          text-align: left;
        }
        .weapon_profile_list {
          grid-column: inherit;
          display: inherit;
          grid-template-columns: inherit;
          .weapon_profile_entry {
            grid-column: inherit;
            display: inherit;
            grid-template-columns: inherit;
          }
        }
      }
      .single_profile {
        grid-column: 1 / span 8;
        display: inherit;
        grid-template-columns: inherit;
        .weapon_name {
          margin-left: 3%;
          text-align: left;
        }
      }
    }
  }
}
</style>