<template>
  <div class="preset_selection">
    <h3>Select a Preset</h3>
    <div class="preset_selection-grid">
      <div class="preset_selection-left">
        <div class="faction">
          <Tooltip
            :enable_tooltip="
              Object.keys(store.state.Presets.Datasheets).length == 0
            "
          >
            <template v-slot:text>
              <select
                v
                @change="select_faction($event.target.value)"
                :disabled="
                  Object.keys(store.state.Presets.Datasheets).length == 0
                "
              >
                <option hidden selected>Select a faction!</option>
                <option
                  :value="id"
                  v-for="(faction, id) in store.state.Presets.Datasheets"
                  :key="id"
                >
                  {{ faction.name }}
                </option>
              </select>
            </template>
            <template v-slot:tooltip>
              <div>
                There are no factions. Please go to
                <router-link @click="set_active_nav_element('data')" to="/data">
                  Data
                </router-link>
                to import or create factions.
              </div>
            </template>
          </Tooltip>
        </div>
        <div class="unit" v-if="store.state.Calculator.attacker.faction">
          <Tooltip
            :enable_tooltip="
              Object.keys(
                store.state.Presets.Datasheets[
                  store.state.Calculator.attacker.faction
                ]
              ).length == 0
            "
          >
            <template v-slot:text>
              <select
                @change="select_unit($event.target.value)"
                :disabled="
                  Object.keys(
                    store.state.Presets.Datasheets[
                      store.state.Calculator.attacker.faction
                    ]
                  ).length == 0
                "
              >
                <option hidden selected>Select a unit!</option>
                <optgroup
                  :label="role.name"
                  v-for="role in get_battlefield_role_list()"
                  :key="role.name"
                >
                  <option
                    :value="id"
                    v-for="(id, name) in role.units"
                    :key="id"
                  >
                    {{ name }}
                  </option>
                </optgroup>
              </select>
            </template>
            <template v-slot:tooltip>
              <div>
                There are no units for the selected faction. Please go to
                <router-link @click="set_active_nav_element('data')" to="/data">
                  Data
                </router-link>
                to import or create units.
              </div>
            </template>
          </Tooltip>
        </div>
      </div>
      <div
        class="preset_selection-right"
        v-if="store.state.Calculator.attacker.datasheet"
      >
        <div
          class="model"
          v-for="(stats, name) in get_bracketed_models_by_datasheet()"
          :key="name"
        >
          <input
            @change="
              select_model(
                stats.original_name,
                stats.bracket,
                $event.target.value
              )
            "
            type="number"
            min="0"
            value="0"
          />
          <div class="model-name">
            {{ name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import Tooltip from "@/components/App/Tooltip";

export default {
  name: "AttackerPreset",
  components: { Tooltip },
  setup() {
    const store = useStore();

    function select_faction(faction_id) {
      store.dispatch("Calculator/set_attacker_faction", faction_id);
      store.dispatch("Calculator/set_attacker_datasheet", null);
      store.dispatch("Calculator/flush_attacker_models");
    }
    function select_unit(datasheet_id) {
      store.dispatch("Calculator/set_attacker_datasheet", datasheet_id);
      store.dispatch("Calculator/flush_attacker_models");
    }
    function select_model(model_id, bracket, count) {
      let faction_id = store.state.Calculator.attacker.faction;
      let datasheet_id = store.state.Calculator.attacker.datasheet;
      let model_blueprint =
        store.state.Presets.Datasheets[faction_id].datasheets[datasheet_id]
          .models[model_id];

      store.dispatch("Calculator/set_attacker_model", {
        model_id,
        bracket,
        count,
        model_blueprint,
      });
    }
    function set_active_nav_element(active_element) {
      for (const element in store.state.App.navbar.active_element) {
        if (element == active_element) {
          store.dispatch("App/activate_nav_element", element);
          continue;
        }
        store.dispatch("App/deactivate_nav_element", element);
      }
    }

    function get_unit_list() {
      let units = store.getters["Presets/get_units_by_faction"](
        store.state.Calculator.attacker.faction
      );
      return units;
    }

    function get_model_list() {
      let models = store.getters["Presets/get_models_by_datasheet"](
        store.state.Calculator.attacker.faction,
        store.state.Calculator.attacker.datasheet
      );
      return models;
    }

    function get_battlefield_role_list() {
      let battlefield_roles = [
        { name: "HQ", units: {} },
        { name: "Troops", units: {} },
        { name: "Elites", units: {} },
        { name: "Fast Attack", units: {} },
        { name: "Heavy Support", units: {} },
        { name: "Flyers", units: {} },
        { name: "Dedicated Transport", units: {} },
        { name: "Lords of War", units: {} },
        { name: "Fortifications", units: {} },
      ];
      let units = get_unit_list();

      for (const unit_id in units) {
        for (const index in battlefield_roles) {
          if (
            units[unit_id].battlefield_role == battlefield_roles[index].name
          ) {
            battlefield_roles[index].units[units[unit_id].unit_name] = unit_id;
            break;
          }
        }
      }
      return battlefield_roles;
    }

    function get_bracketed_models_by_datasheet() {
      let unbracketed_models = get_model_list();
      let bracketed_models = {};

      for (const model_id in unbracketed_models) {
        if (Object.keys(unbracketed_models[model_id].brackets).length == 2) {
          bracketed_models[model_id] = {
            original_name: model_id,
            bracket: 1,
          };
          continue;
        }
        for (const bracket_id in unbracketed_models[model_id].brackets) {
          if (bracket_id == "base") {
            continue;
          }
          bracketed_models[
            `${model_id} (${unbracketed_models[model_id].brackets[bracket_id].remaining_wounds} Wounds)`
          ] = {
            original_name: model_id,
            bracket: bracket_id,
          };
        }
      }
      return bracketed_models;
    }

    return {
      store,
      select_faction,
      select_unit,
      set_active_nav_element,
      get_unit_list,
      get_battlefield_role_list,
      get_model_list,
      get_bracketed_models_by_datasheet,
      select_model,
    };
  },
};
</script>

<style lang="scss" scoped>
.preset_selection-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 5%;

  .preset_selection-left {
    display: grid;
    grid-template-columns: 1fr;

    .unit,
    .faction {
      div {
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }

  .preset_selection-right {
    display: grid;
    grid-template-columns: 1fr;

    .model {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
}
</style>