<template>
  <div class="stat_setter">
    <h3>Change Stats</h3>
    <div class="stat_setter-columns">
      <div class="stat_setter-input_wrapper">
        <div>Leadership:</div>
        <input
          id="leadership"
          type="number"
          min="0"
          max="12"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['leadership']
          "
          @change="set_stat('leadership', $event.target.value)"
        />
        <div>Save:</div>
        <input
          id="save"
          type="number"
          min="2"
          max="7"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['save']
          "
          @change="set_stat('save', $event.target.value)"
        />
        <div>Toughness:</div>
        <input
          id="toughness"
          type="number"
          min="1"
          max="16"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['toughness']
          "
          @change="set_stat('toughness', $event.target.value)"
        />
        <div>Wounds:</div>
        <input
          id="wounds"
          type="number"
          min="1"
          max="100"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['wounds']
          "
          @change="set_stat('wounds', $event.target.value)"
        />
        <div>Invuln Save:</div>
        <input
          id="invuln"
          type="number"
          min="2"
          max="7"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['invuln']
          "
          @change="set_stat('invuln', $event.target.value)"
        />
        <div>FNP:</div>
        <input
          id="FNP"
          type="number"
          min="2"
          max="7"
          :value="
            $store.state.presets.models[$store.state.defender.preset.faction][
              $store.state.defender.preset.model
            ]['stats']['FNP']
          "
          @change="set_stat('FNP', $event.target.value)"
        />
      </div>
      <div class="stat_setter-modifier_wrapper">
        <input type="checkbox" id="wound_4" name="wound_4" />
        <label for="wound_4"> Wound on 4+.</label><br />
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "DefenderLoadout",
  setup() {
    const store = useStore();

    function set_stat(key, value) {
      store.dispatch("set_defender_stats", { key, value });
    }

    return {
      store,
      set_stat,
    };
  },
};
</script>

<style lang="scss" scoped>
.stat_setter-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .stat_setter-input_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    input[type="number"] {
      max-width: 40px;
    }
  }
}
</style>