<template>
  <div class="preset_selection">
    <h3>Select a Preset</h3>
    <div class="preset_selection-grid">
      <div class="preset_selection-left">
        <div class="faction">
          <Tooltip
            :enable_tooltip="
              Object.keys(store.state.Presets.Datasheets).length == 0
            "
          >
            <template v-slot:text>
              <select
                v
                @change="select_faction($event.target.value)"
                :disabled="
                  Object.keys(store.state.Presets.Datasheets).length == 0
                "
              >
                <option hidden selected>Select a faction!</option>
                <option
                  :value="id"
                  v-for="(faction, id) in store.state.Presets.Datasheets"
                  :key="id"
                >
                  {{ faction.name }}
                </option>
              </select>
            </template>
            <template v-slot:tooltip>
              <div>
                There are no factions. Please go to
                <router-link @click="set_active_nav_element('data')" to="/data">
                  Data
                </router-link>
                to import or create factions.
              </div>
            </template>
          </Tooltip>
        </div>
        <div class="unit" v-if="store.state.Calculator.defender.faction">
          <Tooltip
            :enable_tooltip="
              Object.keys(
                store.state.Presets.Datasheets[
                  store.state.Calculator.defender.faction
                ]
              ).length == 0
            "
          >
            <template v-slot:text>
              <select
                @change="select_unit($event.target.value)"
                :disabled="
                  Object.keys(
                    store.state.Presets.Datasheets[
                      store.state.Calculator.defender.faction
                    ]
                  ).length == 0
                "
              >
                <option hidden selected>Select a unit!</option>
                <optgroup
                  :label="role.name"
                  v-for="role in get_battlefield_role_list()"
                  :key="role.name"
                >
                  <option
                    :value="id"
                    v-for="(id, name) in role.units"
                    :key="id"
                  >
                    {{ name }}
                  </option>
                </optgroup>
              </select>
            </template>
            <template v-slot:tooltip>
              <div>
                There are no units for the selected faction. Please go to
                <router-link @click="set_active_nav_element('data')" to="/data">
                  Data
                </router-link>
                to import or create units.
              </div>
            </template>
          </Tooltip>
        </div>
      </div>
      <div
        class="preset_selection-right"
        v-if="store.state.Calculator.defender.datasheet"
      >
        <div
          class="model"
          v-for="(stats, name) in get_model_list()"
          :key="name"
        >
          <input
            @change="select_model(name)"
            type="radio"
            name="defender_preset_model_id"
          />
          <div class="model-name">
            {{ name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import Tooltip from "@/components/App/Tooltip";

export default {
  name: "DefenderPreset",
  components: { Tooltip },
  setup() {
    const store = useStore();

    function select_faction(faction_id) {
      store.dispatch("Calculator/set_defender_faction", faction_id);
      store.dispatch("Calculator/set_defender_datasheet", null);
      store.dispatch("Calculator/flush_defender_model");
    }
    function select_unit(datasheet_id) {
      store.dispatch("Calculator/set_defender_datasheet", datasheet_id);
      store.dispatch("Calculator/flush_defender_model");
    }
    function select_model(model_id) {
      store.dispatch("Calculator/set_defender_model", model_id);
    }
    function set_active_nav_element(active_element) {
      for (const element in store.state.App.navbar.active_element) {
        if (element == active_element) {
          store.dispatch("App/activate_nav_element", element);
          continue;
        }
        store.dispatch("App/deactivate_nav_element", element);
      }
    }

    function get_unit_list() {
      let units = store.getters["Presets/get_units_by_faction"](
        store.state.Calculator.defender.faction
      );
      return units;
    }

    function get_model_list() {
      let models = store.getters["Presets/get_models_by_datasheet"](
        store.state.Calculator.defender.faction,
        store.state.Calculator.defender.datasheet
      );
      return models;
    }

    function get_battlefield_role_list() {
      let battlefield_roles = [
        { name: "HQ", units: {} },
        { name: "Troops", units: {} },
        { name: "Elites", units: {} },
        { name: "Fast Attack", units: {} },
        { name: "Heavy Support", units: {} },
        { name: "Flyers", units: {} },
        { name: "Dedicated Transport", units: {} },
        { name: "Lords of War", units: {} },
        { name: "Fortifications", units: {} },
      ];
      let units = get_unit_list();

      for (const unit_id in units) {
        for (const index in battlefield_roles) {
          if (
            units[unit_id].battlefield_role == battlefield_roles[index].name
          ) {
            battlefield_roles[index].units[units[unit_id].unit_name] = unit_id;
            break;
          }
        }
      }
      return battlefield_roles;
    }

    return {
      store,
      select_faction,
      select_unit,
      set_active_nav_element,
      get_unit_list,
      get_battlefield_role_list,
      get_model_list,
      select_model,
    };
  },
};
</script>

<style lang="scss" scoped>
.preset_selection-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 5%;

  .preset_selection-left {
    display: grid;
    grid-template-columns: 1fr;

    .unit,
    .faction {
      div {
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }

  .preset_selection-right {
    display: grid;
    grid-template-columns: 1fr;

    .model {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
}
</style>