<template>
  <div class="grid_root">
    <div class="grid_header">
      <div class="grid_center"><strong>Range</strong></div>
      <div class="grid_center"><strong>Weapon</strong></div>
      <div class="grid_center"><strong>Attacks</strong></div>
      <div class="grid_center"><strong>Hits</strong></div>
      <div class="grid_center"><strong>Wounds</strong></div>
      <div class="grid_center"><strong>Unsaved</strong></div>
      <div class="grid_center"><strong>Possible Damage</strong></div>
      <div class="grid_center"><strong>Inflicted Damage</strong></div>
      <div class="grid_center"><strong>Mortal Wounds</strong></div>
      <div class="grid_center"><strong>Sum</strong></div>
    </div>
    <div
      class="grid_row"
      v-for="distance in Object.keys(get_weapon_per_range())"
      :key="distance"
    >
      <div
        class="grid_range_column grid_center"
        :style="`grid-row: 1 / ${
          get_weapon_per_range()[distance].length + 1
        }; grid-column: 1/1`"
      >
        &lt;={{ distance }} inches
      </div>
      <div
        class="grid_row_subgrid_row"
        :style="`background-color: ${get_row_color_class(distance, weapon)}`"
        v-for="weapon in get_weapon_per_range()[distance]"
        :key="weapon"
      >
        <div class="">{{ weapon }}</div>
        <div class="grid_center">
          {{ $store.getters.get_attack_count(weapon, distance).toFixed(2) }}
        </div>
        <div class="grid_center stat_splitter">
          <div>
            {{ $store.getters.get_hit_count(weapon, distance).toFixed(2) }}
          </div>
          <div
            :class="
              get_percentage_color_class(get_hit_percentage(weapon, distance))
            "
          >
            ({{ get_hit_percentage(weapon, distance) }}%)
          </div>
        </div>
        <div class="grid_center stat_splitter">
          <div>
            {{ $store.getters.get_wound_count(weapon, distance).toFixed(2) }}
          </div>
          <div
            :class="
              get_percentage_color_class(get_wound_percentage(weapon, distance))
            "
          >
            ({{ get_wound_percentage(weapon, distance) }}%)
          </div>
        </div>
        <div class="grid_center stat_splitter">
          <div>
            {{ $store.getters.get_unsaved_count(weapon, distance).toFixed(2) }}
          </div>
          <div
            :class="
              get_percentage_color_class(
                get_unsaved_percentage(weapon, distance)
              )
            "
          >
            ({{ get_unsaved_percentage(weapon, distance) }}%)
          </div>
        </div>
        <div class="grid_center">
          {{
            $store.getters
              .get_possible_damage_count(weapon, distance)
              .toFixed(2)
          }}
        </div>
        <div class="grid_center stat_splitter">
          <div>
            {{
              $store.getters
                .get_inflicted_damage_count(weapon, distance)
                .toFixed(2)
            }}
          </div>
          <div
            :class="
              get_percentage_color_class(
                get_inflicted_damage_percentage(weapon, distance)
              )
            "
          >
            ({{ get_inflicted_damage_percentage(weapon, distance) }}%)
          </div>
        </div>
        <div class="grid_center">
          {{
            $store.getters.get_mortal_wound_count(weapon, distance).toFixed(2)
          }}
        </div>
      </div>
      <div
        class="grid_sum_column grid_center"
        :style="`grid-row: 1 / ${
          get_weapon_per_range()[distance].length + 1
        }; grid-column: 3/3`"
      >
        {{
          $store.getters
            .get_damage_sum(distance, get_weapon_per_range())
            .toFixed(2)
        }}
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Output",
  setup() {
    const store = useStore();

    function get_inflicted_damage_percentage(weapon, distance) {
      let possible = store.getters.get_possible_damage_count(weapon, distance);
      if (possible == 0) return 0;
      let inflicted = store.getters.get_inflicted_damage_count(
        weapon,
        distance
      );
      return ((inflicted / possible) * 100).toFixed(2);
    }
    function get_unsaved_percentage(weapon, distance) {
      let wound = store.getters.get_wound_count(weapon, distance);
      if (wound == 0) return 0;
      let unsaved = store.getters.get_unsaved_count(weapon, distance);

      return ((unsaved / wound) * 100).toFixed(2);
    }
    function get_wound_percentage(weapon, distance) {
      let hit = store.getters.get_hit_count(weapon, distance);
      if (hit == 0) return 0;
      let wound = store.getters.get_wound_count(weapon, distance);

      return ((wound / hit) * 100).toFixed(2);
    }
    function get_hit_percentage(weapon, distance) {
      let atk = store.getters.get_attack_count(weapon, distance);
      if (atk == 0) return 0;
      let hit = store.getters.get_hit_count(weapon, distance);

      return ((hit / atk) * 100).toFixed(2);
    }
    function get_percentage_color_class(value) {
      if (value < 10) return "color0";
      if (value < 20) return "color1";
      if (value < 30) return "color2";
      if (value < 40) return "color3";
      if (value < 50) return "color4";
      if (value < 60) return "color5";
      if (value < 70) return "color6";
      if (value < 80) return "color7";
      if (value < 90) return "color8";
      if (value < 100) return "color9";
      return "color10";
    }
    function get_row_color_class(distance, weapon) {
      let row_count = 0;
      let weapon_per_range = this.get_weapon_per_range();
      for (const range in weapon_per_range) {
        for (const weapon_id in weapon_per_range[range]) {
          row_count++;
          if (
            distance == range &&
            weapon == weapon_per_range[range][weapon_id]
          ) {
            if (row_count % 2 == 0) {
              return "var(--color_even)";
            } else {
              return "var(--color_odd)";
            }
          }
        }
      }
    }
    function get_weapon_per_range() {
      let ranges = new Set([1]);
      for (const weapon of Object.keys(store.state.attacker.weapon_stats)) {
        if (store.state.attacker.weapon_stats[weapon].type != "Melee") {
          ranges.add(Number(store.state.attacker.weapon_stats[weapon].range));
          if (store.state.attacker.weapon_stats[weapon].type == "Rapid Fire") {
            ranges.add(
              Number(store.state.attacker.weapon_stats[weapon].range) / 2
            );
          }
        }
      }

      ranges = Array.from(ranges).sort(sorting_comparsion);
      let tmp = {};
      for (const range in ranges) {
        if (range == 0) {
          tmp[ranges[range]] = [];
        } else {
          tmp[ranges[range]] = [];
        }
      }
      ranges = tmp;

      for (const weapon of Object.keys(store.state.attacker.weapon_stats)) {
        if (store.state.attacker.weapon_stats[weapon].type == "Melee") {
          ranges[1].push(weapon);
          continue;
        }

        for (const distance in ranges) {
          if (distance == 1) {
            continue;
          }
          if (distance <= store.state.attacker.weapon_stats[weapon].range) {
            ranges[distance].push(weapon);
          }
        }

        if (store.state.attacker.weapon_stats[weapon].type == "Pistol") {
          ranges[1].push(weapon);
        }
      }
      return ranges;
    }

    return {
      store,
      get_inflicted_damage_percentage,
      get_unsaved_percentage,
      get_wound_percentage,
      get_hit_percentage,
      get_percentage_color_class,
      get_row_color_class,
      get_weapon_per_range,
    };
  },
};

function sorting_comparsion(a, b) {
  return a - b;
}
</script>

<style lang="scss" scoped>
.grid_header {
  display: grid;
  grid-template-columns: 1fr 1.2fr repeat(8, 1fr);
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.grid_row {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  border-bottom: black;
  border-bottom-style: groove;
  border-bottom-width: 2px;

  .grid_row_subgrid_row {
    display: grid;
    grid-template-columns: 1.2fr repeat(7, 1fr);

    .stat_splitter {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .color0 {
        background-color: rgb(255, 0, 0);
      }
      .color1 {
        background-color: rgb(225, 25, 0);
      }
      .color2 {
        background-color: rgb(200, 050, 0);
      }
      .color3 {
        background-color: rgb(175, 75, 0);
      }
      .color4 {
        background-color: rgb(150, 100, 0);
      }
      .color5 {
        background-color: rgb(125, 125, 0);
      }
      .color6 {
        background-color: rgb(100, 150, 0);
      }
      .color7 {
        background-color: rgb(75, 175, 0);
      }
      .color8 {
        background-color: rgb(50, 200, 0);
      }
      .color9 {
        background-color: rgb(25, 225, 0);
      }
      .color10 {
        background-color: rgb(0, 255, 0);
      }
    }
  }
}
.grid_center {
  align-self: center;
  justify-self: center;
}
</style>