<template>
  <div
    id="dialog"
    class="dialog"
    v-if="get_dialog_visibility()"
    @click="hide_dialog($event.target)"
  >
    <div class="dialog-content">
      <span id="dialog-close" @click="hide_dialog($event.target)" class="close"
        >&times;</span
      >
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Dialog",
  props: ["display"],

  setup(props) {
    const store = useStore();

    function get_dialog_visibility() {
      return Boolean(props.display);
    }
    function hide_dialog(target) {
      if (target.id == "dialog" || target.id == "dialog-close") {
        store.dispatch("App/hide_dialog");
      }
    }

    return { store, get_dialog_visibility, hide_dialog };
  },
};
</script>

<style lang="scss" scoped>
.dialog {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  .dialog-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover,
      :focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
</style>