<template>
  <div class="navbar">
    <router-link
      class="logo"
      @click="set_active_nav_element(null), randomize_color()"
      to="/"
    >
      <svg viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
        <g id="WaMaLogo">
          <path
            id="W"
            d="M26.418 55.352L26.472 55.244L12 20.036L19.506 21.602L29.442 46.442L38.298 20.036L46.398 21.602L56.334 46.442L65.19 20.036L73.29 21.602L61.302 57.566L53.31 55.352L53.364 55.244L43.266 30.89L34.41 57.566L26.418 55.352Z"
          />
          <path
            id="M"
            d="M26.418 64.648L26.472 64.756L12 99.964L19.506 98.398L29.442 73.558L38.298 99.964L46.398 98.398L56.334 73.558L65.19 99.964L73.29 98.398L61.302 62.434L53.31 64.648L53.364 64.756L43.266 89.11L34.41 62.434L26.418 64.648Z"
          />
          <path
            id="Atop"
            d="M93.06 22.25L93.006 22.412L107.478 57.566L100.512 56L96.732 46.118L83.988 46.982L80.1 57.566L72.54 56L85.608 20.036L93.06 22.25ZM90.36 29.54L85.716 42.284L95.004 41.636L90.36 29.54Z"
          />
          <path
            id="Abot"
            d="M93.06 97.75L93.006 97.588L107.478 62.434L100.512 64L96.732 73.882L83.988 73.018L80.1 62.434L72.54 64L85.608 99.964L93.06 97.75ZM90.36 90.46L85.716 77.716L95.004 78.364L90.36 90.46Z"
          />
        </g>
      </svg>
    </router-link>
    <div class="navigation">
      <router-link
        class="navlink"
        :class="{ active: store.state.App.navbar.active_element.calculator }"
        @click="set_active_nav_element('calculator')"
        to="/calculator"
      >
        Calculator
      </router-link>
      <router-link
        class="navlink"
        :class="{ active: store.state.App.navbar.active_element.data }"
        @click="set_active_nav_element('data')"
        to="/data"
      >
        Data
      </router-link>
      <router-link
        class="navlink"
        :class="{ active: store.state.App.navbar.active_element.imprint }"
        @click="set_active_nav_element('imprint')"
        to="/imprint"
      >
        Imprint
      </router-link>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Navbar",
  setup() {
    const store = useStore();

    function randomize_color() {
      const colors = [
        "var(--color_navbar_logo_rand0)",
        "var(--color_navbar_logo_rand1)",
        "var(--color_navbar_logo_rand2)",
        "var(--color_navbar_logo_rand3)",
        "var(--color_navbar_logo_rand4)",
        "var(--color_navbar_logo_rand5)",
        "var(--color_navbar_logo_rand6)",
        "var(--color_navbar_logo_rand7)",
        "var(--color_navbar_logo_rand8)",
        "var(--color_navbar_logo_rand9)",
      ];
      function rando() {
        return colors[Math.floor(Math.random() * colors.length)];
      }
      document.documentElement.style.setProperty(
        "--color_navbar_logo_w",
        rando()
      );
      document.documentElement.style.setProperty(
        "--color_navbar_logo_m",
        rando()
      );
      document.documentElement.style.setProperty(
        "--color_navbar_logo_atop",
        rando()
      );
      document.documentElement.style.setProperty(
        "--color_navbar_logo_abot",
        rando()
      );
    }

    function set_active_nav_element(active_element) {
      for (const element in store.state.App.navbar.active_element) {
        if (element == active_element) {
          store.dispatch("App/activate_nav_element", element);
          continue;
        }
        store.dispatch("App/deactivate_nav_element", element);
      }
    }

    return { store, set_active_nav_element, randomize_color };
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  position: sticky;
  top: 0;
  height: var(--navbar_height);
  background-color: var(--color_navbar_background);
  display: flex;
  z-index: 100;

  .logo {
    height: var(--navbar_height);
    width: var(--navbar_height);

    svg {
      height: var(--navbar_height);
      width: var(--navbar_height);

      #W {
        fill: var(--color_navbar_logo_w);
        transition: all 1s ease;
      }
      #M {
        fill: var(--color_navbar_logo_m);
        transition: all 1s ease;
      }
      #Atop {
        fill: var(--color_navbar_logo_atop);
        transition: all 1s ease;
      }
      #Abot {
        fill: var(--color_navbar_logo_abot);
        transition: all 1s ease;
      }

      &:hover #WaMaLogo {
        transform-origin: 50% 50%;
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  .navigation {
    display: flex;

    .navlink {
      display: flex;
      align-items: center;
      margin-left: 10px;
      text-decoration: none;
      color: var(--color_navbar_font);
      font-weight: bold;

      &:hover {
        transform: scale(1.1, 1.1);
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
</style>