<template>
  <div class="ability_tooltip">
    <slot name="text"></slot>
    <span v-if="props.enable_tooltip" class="ability_tooltiptext">
      <slot name="tooltip"></slot>
    </span>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Tooltip",
  props: ["enable_tooltip"],
  setup(props) {
    const store = useStore();

    return { store, props };
  },
};
</script>

<style lang="scss" scoped>
.ability_tooltip {
  position: relative;
  display: inline-block;

  .ability_tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the ability_tooltip */
    position: absolute;
    z-index: 4;
  }
  &:hover {
    .ability_tooltiptext {
      visibility: visible;
    }
  }
}
</style>