:root {
    // Navbar
    --color_navbar_background: rgb(54, 66, 8);
    --color_navbar_font: rgb(182, 207, 153);
    --color_navbar_active: rgb(182, 207, 153);
    --color_navbar_logo: rgb(182, 207, 153);
    --color_navbar_logo_m: rgb(182, 207, 153);
    --color_navbar_logo_w: rgb(182, 207, 153);
    --color_navbar_logo_atop: rgb(182, 207, 153);
    --color_navbar_logo_abot: rgb(182, 207, 153);
    // Navbar logo color change madness
    --color_navbar_logo_rand0: rgb(196, 38, 38);
    --color_navbar_logo_rand1: rgb(214, 124, 20);
    --color_navbar_logo_rand2: rgb(207, 196, 41);
    --color_navbar_logo_rand3: rgb(73, 211, 31);
    --color_navbar_logo_rand4: rgb(49, 226, 217);
    --color_navbar_logo_rand5: rgb(85, 110, 255);
    --color_navbar_logo_rand6: rgb(155, 54, 250);
    --color_navbar_logo_rand7: rgb(241, 21, 241);
    --color_navbar_logo_rand8: rgb(0, 0, 0);
    --color_navbar_logo_rand9: rgb(255, 255, 255);
    // App
    --color_background: rgb(243, 241, 239);
    // tabbed pane
    --color_tabbed_background: rgb(233, 231, 229);
    --color_tabbed_boarder: rgb(143, 141, 139);
    // Calculator
    --color_even: rgba(206, 155, 114, 0.25);
    --color_odd: rgba(107, 155, 51, 0.25);
}