<template>
  <div class="header">
    <h2>Attacker</h2>
    <h2>Defender</h2>
  </div>
  <div class="input">
    <div class="attacker">
      <AttackerPreset />
      <AttackerLoadout />
    </div>
    <div class="defender">
      <DefenderPreset />
      <!-- <DefenderStats /> -->
    </div>
  </div>
  <h2>Result</h2>
  <div class="output">
    <!-- <Output /> -->
  </div>
</template>

<script>
import AttackerPreset from "@/components/Calculator/AttackerPreset";
import AttackerLoadout from "@/components/Calculator/AttackerLoadout";
import DefenderPreset from "@/components/Calculator/DefenderPreset";
// import DefenderStats from "@/components/Calculator/DefenderStats";
// import Output from "@/components/Calculator/Output";

export default {
  name: "Calculator",
  components: {
    AttackerPreset,
    AttackerLoadout,
    DefenderPreset,
    // DefenderStats,
    // Output,
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  text-align: center;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

.defender {
  background-color: rgb(206, 155, 114);
  border-radius: 25px;
  padding: 20px;
  margin: 5px;
}

.attacker {
  background-color: rgba(107, 155, 51, 0.253);
  border-radius: 25px;
  padding: 20px;
  margin: 5px;
}

.output {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(202, 201, 116, 0.253);
  border-radius: 25px;
  padding: 20px;
}
</style>