<template>
  <div class="tabbed">
    <input name="tabbed" id="tabbed1" type="radio" checked />
    <section>
      <h1>
        <label for="tabbed1">Information</label>
      </h1>
      <Information />
    </section>

    <input name="tabbed" id="tabbed2" type="radio" />
    <section>
      <h1>
        <label for="tabbed2">Edit</label>
      </h1>
      <Edit />
    </section>

    <input name="tabbed" id="tabbed3" type="radio" />
    <section>
      <h1>
        <label for="tabbed3">Import</label>
      </h1>
      <Import />
    </section>

    <input name="tabbed" id="tabbed4" type="radio" />
    <section>
      <h1>
        <label for="tabbed4">Export</label>
      </h1>
      <Export />
    </section>
  </div>
</template>

<script>
import Information from "@/components/Data/Information";
import Edit from "@/components/Data/Edit";
import Import from "@/components/Data/Import";
import Export from "@/components/Data/Export";

export default {
  name: "Data",
  components: {
    Information,
    Edit,
    Import,
    Export,
  },
};
</script>

<style lang="scss" scoped>
.tabbed > input {
  display: none;
}
.tabbed > input:not(:checked) + section > div {
  display: none;
}
.tabbed > section > h1 {
  float: left;
}
.tabbed > section > div {
  float: right;
  width: 100%;
  margin: 2em 0 0 -100%;
}
.tabbed {
  margin-left: 20%;
  margin-right: 20%;
  float: left;
  width: 60%;
}
.tabbed > section > h1 > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.tabbed > section > div {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid var(--color_tabbed_boarder);
  border-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: var(--color_tabbed_background);
  min-height: 20vh;
}
.tabbed > section > h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0.5em 0;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}
.tabbed > section > h1 > label {
  display: block;
  padding: 0.25em 0.75em;
  border: 1px solid var(--color_tabbed_boarder);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: var(--color_tabbed_background);
}
.tabbed > input:first-child + section > h1 {
  padding-left: 1em;
}
.tabbed > section > div {
  position: relative;
  z-index: 1;
}
.tabbed > input:checked + section > h1 {
  position: relative;
  z-index: 2;
}
</style>