<template>
  <div class="home">
    <p class="greeter">
      Welcome to the <strong>Wa</strong>rhammer <strong>Ma</strong>th tool. It
      is a calculator for combat scenarios in Warhammer 40k. <br /><br />
      <u
        ><i
          >It is still in
          <a href="https://gitlab.com/runner-root/wama">development</a>
        </i></u
      >
    </p>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style lang='scss' scoped>
.greeter {
  align-content: center;
  text-align: center;
}
</style>