<template>
  <Navbar />
  <router-view />
  <button @click="log()">log</button>
</template>

<script>
import { useStore } from "vuex";
import Navbar from "@/components/App/Navbar";

export default {
  components: {
    Navbar,
  },
  setup() {
    const store = useStore();

    function log() {
      console.log(store);
    }

    return {
      store,
      log,
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--color_background);
  min-height: 100vh;
  width: 100%;
}
</style>
